<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="MyDBConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=ADITHYA-PC;Initial Catalog=ContactManager; Integrated Security=true" />
    <add name="Emptypopup" connectionString="Values must be entered for highlighted fields"/>
    <add name="ValidTitle" connectionString="Validation Error"/>
    <add name="ErrorTitle" connectionString="Empty Error"/>
    <add name="FName" connectionString="First Name"/>
    <add name="MI" connectionString="Minit"/>
    <add name="LName" connectionString="Last Name"/>
    <add name="DOB" connectionString="Date Of Birth"/>
    <add name="Gender" connectionString="Gender"/>
    <add name="Addr" connectionString="Address"/>
    <add name="PNum" connectionString="Number"/>
    <add name="Email" connectionString="Email"/>
    <add name="Occ" connectionString="Occupation"/>
    <add name="DataError" connectionString="Data Error"/>
    <add name="SearchError" connectionString="Search Error"/>
    <add name="Getdata" connectionString="GetData"/>
    <add name="Searchdata" connectionString="SearchData"/>
    <add name="Adddata" connectionString="AddData"/>
    <add name="InsertError" connectionString="Data Insertion Error"/>
    <add name="ID" connectionString="GetID"/>
    <add name="Save" connectionString="SaveData"/>
    <add name="Delete" connectionString="DeleteData"/>
    <add name="DeleteError" connectionString="Data Deletion Error"/>
    <add name="IDError" connectionString="ID Retreival Error"/>
    <add name="DataUError" connectionString="Data Updation Error"/>
    <add name="ErrorEmail" connectionString="Please enter valid Email"/>
    <add name="ErrorDOB" connectionString="Please enter valid Date of Birth"/>
    <add name="ErrorNumber" connectionString="Please enter valid Phone Number"/>
    <add name="ErrorGender" connectionString="Please choose a Gender"/>
    <add name="ErrorZip" connectionString="Please enter valid zip code"/>
    <add name="GM" connectionString="Male"/>
    <add name="GF" connectionString="Female"/>
    <add name="Default" connectionString="Select"/>
    <add name="Redundnacy" connectionString="Record is already present in the database."/>
    <add name ="SearchID" connectionString="SearchID"/>
  </connectionStrings>
</configuration>